@page "/devices"

@using SharedLib

@inject IDevicesService devicesService
@inject IUserAuthService userAuthService
@inject IJSRuntime jsr

<h3>Devices</h3>

@code
{
[CascadingParameter]
Task<AuthenticationState> authenticationStateTask { get; set; }
string userId;
AppUser user;
List<Device> devices;

protected override async Task OnInitAsync()
{
    await LogUsername();

}
async Task LogUsername()
{
    var authState = await authenticationStateTask;
    var user = authState.User;
    if (user.Identity.IsAuthenticated)
    {
        // Since the user is a ClaimsPrincipal, you can also enumerate claims,
        // evaluate membership in roles, etc.
        Console.WriteLine($"Hello, {user.Identity.Name}");
        

    }
    else
    {
        Console.WriteLine("You're not logged in.");
    }
}
}
