
<br />
<hr />
<h3>Device details</h3>
@if (device != null)
{
    <p>@device?.Name</p>
    <p>@device?.CreationDate</p>
    <p>Number of tokens : @device.TokenDevices?.Count</p>
}
@if(device == null)
{
    <p>Select a device</p>
}
<br />
<hr />
@code {

    [Parameter]
    Device device { get; set; }

}
