@page "/devicestk"

@attribute [Authorize]

@inject IUserAuthService userAuthService
@inject IDeviceTokensRepository deviceTokensRepository

<h3>Tokens</h3>


@code {
    [CascadingParameter]
    Task<AuthenticationState> authState { get; set; }


    string userId { get; set; }
    string username { get; set; }

    protected override async Task OnInitAsync()
    {
        var taskAuth = await authState;
        username = taskAuth.User.Identity.Name;
    }
}
