
<br />
<hr />
<h3>Device details</h3>
<MatCard>
    @if (device != null)
    {

    <MatList>
        <p>Device Id: @device.Id</p>
        <p>Device Name: @device?.Name</p>
        <p>Device Creation Date: @device?.CreationDate</p>
        <p>Number of tokens : @device.TokenDevices?.Count</p>
        <p>Last update: @device.LastUpdateDate</p>
        <p>Description: @device.Description</p>
    </MatList>
    }
    @if (device == null)
    {
        <p>Select a device</p>
    }
</MatCard>
<br />
<hr />
@code {

    [Parameter]
    Device device { get; set; }

}
