@page "/"

<h1>Welcome to Minotaur</h1>
<AuthorizeView>
    <Authorized>
        Your are logged as @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        You need to be logged on to acces to the monitoring
    </NotAuthorized>
</AuthorizeView>


