@page "/devices"
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using  Web.Services
@inject DevicesService devicesServices



<h3>Devices</h3>
<AuthorizeView>
    <Authorized>
        <p></p>@context.User.Identity.Name
        @UserManager.GetUserId(@context.User)
    </Authorized>
</AuthorizeView>



@code {



}
