@page "/"

<h1>Minotaur</h1>
<div>
    <p>Bienvenue sur Minotaur </p>
</div>
<AuthorizeView>
    <Authorized>
    <div>
        Vous êtes connecté
    </div>
    </Authorized>
    <NotAuthorized>
        <div>
            Vous n'êtes pas connecté!
        </div>
    </NotAuthorized>
</AuthorizeView>