@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<AuthorizeView>
    <Authorized>
    <div>
        Vous êtes connecté
    </div>
    </Authorized>
    <NotAuthorized>
        <div>
            Vous n'êtes pas connecté!
        </div>
    </NotAuthorized>
</AuthorizeView>