<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <a href="Identity/Account/LogOut">Déconnexion</a>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">S'inscrire</a>
        <a href="Identity/Account/Login">Se connecter</a>
    </NotAuthorized>
</AuthorizeView>
