<AuthorizeView>
    <Authorized>
            <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
            <a href="Identity/Account/LogOut" class="btn btn-outline-danger">Log out</a>
    </Authorized>
    <NotAuthorized>
        <div class="btn-group">
            <a href="Identity/Account/Register" class="btn btn-outline-secondary">Register</a>
            <a href="Identity/Account/Login" class="btn btn-outline-primary">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

